<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')  %>
<body>
    <%- include('./partials/nav.ejs')  %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, placeat doloremque laborum saepe ut magnam enim voluptatem molestiae quas hic aperiam explicabo deserunt quaerat laboriosam, nemo suscipit officiis exercitationem. Vero!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus repellat dolore vero aliquid ab qui et doloremque! Error nobis ea quisquam eos voluptate, numquam provident, eius cumque molestias blanditiis officia.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident corrupti nemo doloremque molestiae magni, nihil dolores alias fugit soluta voluptatem repellendus sint laborum ducimus eveniet perferendis, omnis aut autem minima!</p>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>